<%= render 'shared/redirect_login' %>
<% provide(:title, 'パスワードリセット') %>

<H1>パスワードリセット</H1>
<H3>新しいパスワードを入力してください</H3>


<%= form_tag "/password_reset", :class => 'form-horizontal', :role => 'form' do %>

<div class="form-group">
  <%= label_tag :password, "", :class => "col-sm-3 control-label" do %>
  <span class="mark_of_required">*</span>パスワード
<% end %>
<div class="col-sm-5">
  <%= password_field_tag :password, '', :required => 'required', :maxlength => 256, :pattern => '^[!-~]{8,}$', :class => "form-control"%>
  <div class="alert alert-info col-xs-offset-2" role="alert" id="info_input_password" style="display: none; z-index: 2; position:absolute">
    <b>長さ:</b>8-256文字<br>
    <b>使用できる文字:</b>半角英数字<br>
    <b>使用できる記号(半角):</b> ! " # $ % & ' ( ) * + , - . / : ; < = > ? @ [ \ ] ^ _ ` { | } ~
  </div>

  <% if flash[:error] == 5 %>
    <span class="help-block error_message">パスワードのフォーマットが間違っています。</span>
  <% end %>
</div>
</div>

<div class="form-group">
  <%= label_tag :password_confirmation, "", :class => "col-sm-3 control-label" do%>
  <span class="mark_of_required">*</span>パスワードの確認
<% end %>
<div class="col-sm-5">
  <%= password_field_tag :password_confirmation, '', :required => 'required', :maxlength => 256, :pattern => '^[!-~]{8,}$', :class => "form-control"%>
  <div class="alert alert-info col-xs-offset-2" role="alert" id="info_input_password_confirmation" style="display: none; z-index: 2; position:absolute"><b>確認のため, パスワードをもう一度入力してください。</b></div>
  <% if flash[:error] == 4 %>
    <span class="help-block error_message">入力したパスワードが一致しません。</span>
  <% end %>
</div>
</div>

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9 hidden-xs">
      <%= button_tag "リセット", :class => 'btn btn-primary' %>
    </div>
  </div>

  <div class="form-group">
    <div class="visible-xs-block col-xs-12">
      <%= button_tag "リセット", :class => 'btn btn-primary btn-block' %>
    </div>
  </div>


<% end %>
