<%= render 'shared/redirect_not_login' %>
<style>
  th,td {
  border: solid 0px;
  padding: 1px;
}

  label {
  font-size:large;
  }

  .profile_form {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align:center;
  }

  .submit_btn {
  width:50%;
  }

  .error_message {
  color: #ff0044;
  font-size:small;
  }

  .message {
  font-size:small;
  }
</style>

<% provide(:title, 'パスワード変更') %>
<h1>パスワード変更</h1>

<div class="row">
  <div class="span6 offset3">
    <table class="profile_form">
    <%= form_tag "/password_edit" do %>


      <tr>
        <td><%= label_tag :password_old, "現在のパスワード" %></td>
      <tr></tr>
        <td><%= password_field_tag :password_old %></td>
      </tr>

      <% if flash[:error] == 6 %>
        <div class="error_message">
          <tr><td><div class='error_message'><%= "現在のパスワードが一致しません" %></div></td></tr>
          <tr></tr>
        </div>
      <% end %>


      <tr>
        <td><%= label_tag :password, "新しいパスワード" %></td>
      <tr></tr>
        <td><%= password_field_tag :password %></td>
      </tr>


      <% if flash[:error] == 4 %>
        <div class="error_message">
          <tr><td><div class='error_message'><%= "パスワードが一致しません" %></div></td></tr>
          <tr></tr>
        </div>
      <% end %>

      <% if flash[:error] == 5 %>
          <tr><td><div class="error_message">パスワードは英数字または"_"を使用し、16文字以内で入力してください</div></td></tr>
          <tr></tr>
      <% end %>



      <tr>
        <td><%= label_tag :password_confirmation, "新しいパスワードの確認" %></td>
      <tr></tr>
        <td><%= password_field_tag :password_confirmation %></td>
      </tr>

      <tr>
        <td><%= submit_tag "変更", :class => 'btn btn-default' %></td>
      </tr>
    <% end %>
    </table>
    <table class="profile_form">
      <tr>
        <td> <%= button_to "取消", "/", :class => 'btn btn-default' %></td>
      </tr>
    </table>
  </div>
</div>
